1. Create a function that reverses a string. For example, given the string "forward", your function should return "drawrof". Assume all inputs are strings.

In [3]:
def reverse(a):
    str = ""
    for i in a:
        str = i + str
    return str

In [5]:
a = 'IloveTraveling'

In [7]:
print("the original string is: ",end="")
print(a)

the original string is: IloveTraveling

In [10]:
print("The reversed string(using loops) is: ",end="")
print(reverse(a))

The reversed string(using loops) is: gnilevarTevolI

2. Complete the function below that can be used to calculate and return the posterior probability of an event A, given the known outcome of Event B using Bayes Theorem:
def bayes(a, b_given_a, b_given_not_a):

    """
    Calculates P(A | B) using bayes theorem.

    Args:
        a: P(A)
        b_given_a: P(B | A)
        b_given_not_a: P(B | ~A)

    Returns:
        P(A | B)
    """

    # YOUR CODE GOES HERE

In [4]:
#Bayes theorem: P(A|B) = P(B|A)*P(A) / P(B)

def bayes(a, b_given_a, b_given_n_a):
    b = B(~B) + P(A)
    p_a_b = ((b_given_a) * a) / (b)
    p_b = b_given_a * a + b_given_not_a * n_a
    P_n_a = 1 - a
    return p_a_b

print(bayes(0.5, 0.3, 0.8))

NameError: name 'b' is not defined

In [ ]:
def bayes(a, b_given_a, b_given_not_a):
    # calculating prob of not A n_a = 1 - a 
    # calculating prob of b prob_b = b_given_a * a + b_given_not_a * n_a
    # calculating prob of a given b prob_a_giv_b =(b_given_a*a,)/prob_b return prob_a_giv_b

In [ ]:
P(A|B) = P(A^B)/P(B)

In [ ]:
P(B|A) = P(A*B)/P(A)

In [ ]:
P(A^B) = P(B|A)*P(A)

In [ ]:
P(B|~A) = P(~A^B)/P(~A) 
P(~A) = 1 - P(A)

In [ ]:
P(~A ^ B) + P(A ^ B) = P(B)

In [ ]:
P(B) = B(~B) + P(A)

3. Analyze the teams dataset from the Lahman baseball records. This dataset contains season statistics for each Major League Baseball team.

a. For all records since 1995, plot histograms for the following variables. Which distribution do they appear to follow? Consider what each variable is measuring along with the histogram's shape.

 - Stolen bases per game
 - Wins
 - Earned run average
 
b. Conduct some further exploratory data analysis on this dataset. Consider qualities like distributions, correlations and trends over time. Try to find something interesting to say about the data, and use visualizations to support your argument.

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import style
import quandl
import seaborn as sns
import math

In [14]:
%pylab inline
%matplotlib inline

Populating the interactive namespace from numpy and matplotlib

In [15]:
data_url = "https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/lahman-teams.csv"

In [16]:
baseball = pd.read_csv(data_url)

In [39]:
baseball.head()

,yearID,lgID,teamID,franchID,divID,Rank,G,Ghome,W,L,...,DP,FP,name,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro
0,1871,NaN,BS1,BNA,NaN,3,31,NaN,20,10,...,NaN,0.83,Boston Red Stockings,South End Grounds I,NaN,103,98,BOS,BS1,BS1
1,1871,NaN,CH1,CNA,NaN,2,28,NaN,19,9,...,NaN,0.82,Chicago White Stockings,Union Base-Ball Grounds,NaN,104,102,CHI,CH1,CH1
2,1871,NaN,CL1,CFC,NaN,8,29,NaN,10,19,...,NaN,0.81,Cleveland Forest Citys,National Association Grounds,NaN,96,100,CLE,CL1,CL1
3,1871,NaN,FW1,KEK,NaN,7,19,NaN,7,12,...,NaN,0.80,Fort Wayne Kekiongas,Hamilton Field,NaN,101,107,KEK,FW1,FW1
4,1871,NaN,NY2,NNA,NaN,5,33,NaN,16,17,...,NaN,0.83,New York Mutuals,Union Grounds (Brooklyn),NaN,90,88,NYU,NY2,NY2

In [19]:
baseball.shape

(2805, 48)

In [40]:
baseball.isnull().sum()

yearID               0
lgID                50
teamID               0
franchID             0
divID             1517
Rank                 0
G                    0
Ghome              399
W                    0
L                    0
DivWin            1545
WCWin             2181
LgWin               28
WSWin              357
R                    0
AB                   0
H                    0
2B                   0
3B                   0
HR                   0
BB                   0
SO                 120
SB                 144
CS                 859
HBP               2325
SF                2325
RA                   0
ER                   0
ERA                  0
CG                   0
SHO                  0
SV                   0
IPouts               0
HA                   0
HRA                  0
BBA                  0
SOA                  0
E                    0
DP                 317
FP                   0
name                 0
park                34
attendance         279
BPF                  0
PPF                  0
teamIDBR             0
teamIDlahman45       0
teamIDretro          0
dtype: int64

In [27]:
baseball.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2805 entries, 0 to 2804
Data columns (total 48 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   yearID          2805 non-null   int64
 1   lgID            2755 non-null   object
 2   teamID          2805 non-null   object
 3   franchID        2805 non-null   object
 4   divID           1288 non-null   object
 5   Rank            2805 non-null   int64
 6   G               2805 non-null   int64
 7   Ghome           2406 non-null   float64
 8   W               2805 non-null   int64
 9   L               2805 non-null   int64
 10  DivWin          1260 non-null   object
 11  WCWin           624 non-null    object
 12  LgWin           2777 non-null   object
 13  WSWin           2448 non-null   object
 14  R               2805 non-null   int64
 15  AB              2805 non-null   int64
 16  H               2805 non-null   int64
 17  2B              2805 non-null   int64
 18  3B              2805 non-null   int64
 19  HR              2805 non-null   int64
 20  BB              2805 non-null   int64
 21  SO              2685 non-null   float64
 22  SB              2661 non-null   float64
 23  CS              1946 non-null   float64
 24  HBP             480 non-null    float64
 25  SF              480 non-null    float64
 26  RA              2805 non-null   int64
 27  ER              2805 non-null   int64
 28  ERA             2805 non-null   float64
 29  CG              2805 non-null   int64
 30  SHO             2805 non-null   int64
 31  SV              2805 non-null   int64
 32  IPouts          2805 non-null   int64
 33  HA              2805 non-null   int64
 34  HRA             2805 non-null   int64
 35  BBA             2805 non-null   int64
 36  SOA             2805 non-null   int64
 37  E               2805 non-null   int64
 38  DP              2488 non-null   float64
 39  FP              2805 non-null   float64
 40  name            2805 non-null   object
 41  park            2771 non-null   object
 42  attendance      2526 non-null   float64
 43  BPF             2805 non-null   int64
 44  PPF             2805 non-null   int64
 45  teamIDBR        2805 non-null   object
 46  teamIDlahman45  2805 non-null   object
 47  teamIDretro     2805 non-null   object
dtypes: float64(10), int64(25), object(13)
memory usage: 909.5+ KB

In [37]:
"baseball_95 = baseball.loc[baseball['yearID']>=1995]"

"baseball_95 = baseball.loc[baseball['yearID']>=1995]"

In [ ]:
plt.hist(baseball[''])

4. Choose any two of the variables from 3. Draw 1,000 samples, taking the mean of 100 observations each time. Plot the frequencies of the sample means. What distribution does this appear to follow?
Hint: df['col'].sample(n=50) will draw 50 random observations from df['col'].