%reload_ext nb_black
                                             PROBABILITY


import random
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

def function_name(inputs):
    process

    return output

 Inputs
None, we're just flipping a coin
Outputs
'H' or 'T' (50% chance of each)


Google for how we learned about random.choice:
"python list select random element"
sample_space = ["H", "T"]
random.choice(sample_space)


def coin_flip():
    sample_space = ["H", "T"]
    outcome = random.choice(sample_space)

    return outcome

n_trials = 500
heads = 0
tails = 0

for i in range(n_trials):
    outcome = coin_flip()
    if outcome == "T":
        tails += 1
    elif outcome == "H":
        heads += 1

print("P(head)")
heads / n_trials

iris = sns.load_dataset("iris")
iris.head()

What's the probability the 'species' is virginica?
iris["species"].value_counts(normalize=True)

What's the probability the 'petal_length' is greater than 2.0?
greater_than = iris["petal_length"] > 2.0
greater_than.head()


 We can do math with True/False
#Trues will act as 1s in this math
#Falses will act as 0s in this math

 sum([True, True, False]) is 2
 the average of [True, True, False] is 0.66
#(average can be used in our case)
greater_than.mean()

n_trials = 1000

change_wins = 0
stay_wins = 0

#'Play' the game repeatedly
for i in range(n_trials):
    options = ["goat", "goat", "car"]
    
    # Randomize which door each item will be behind
    random.shuffle(options)

    # We will always choose the first door as our choice
    chosen = options[0]
    
    # Identify the remaining 2 options using 'slicing'
    remaining = options[1:]
    
    # Find out where the goat is located in the remaining options
    goat_index = remaining.index("goat")
    # Remove the/a goat from the remaining options
    del remaining[goat_index]
    
    # Add 1 to the strategy that would have won this round of the game
    if chosen == "car":
        stay_wins += 1
    else:
        change_wins += 1

n_trials = 1000

change_wins = 0
stay_wins = 0


for i in range(n_trials):
    options = ["goat", "goat", "car"]
    random.shuffle(options)

    # Being lazy and just taking 1st door always
    # Should not negatively impact the simulation
    chosen = options[0]
    remaining = options[1:]

    goat_index = remaining.index("goat")
    del remaining[goat_index]

    if chosen == "car":
        stay_wins += 1
    else:
        change_wins += 1

print(f"Prob of winning if stay: {stay_wins / n_trials}")
print(f"Prob of winning if change: {change_wins / n_trials}")


adjective0 = "cool"
adjective1 = "gorgeous"
noun = "python"

print(f"I like {noun} because it is very {adjective0} & {adjective1}")
print("I like {} because it is very {} & {}".format(noun, adjective0, adjective1))
print("I like " + noun + " because it is very " + adjective0 + " & " + adjective1)

class_notebooks/week1/1_3_B_        DESCRIPTIVE_STATS.ipynb

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

data_url = "https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Clustering/nba_player_seasons.csv"

nba = pd.read_csv(data_url)

nba.head(2)

(n_rows, n_cols)
 (height, width)
nba.shape

nba.info()


avg = nba["PTS"].mean()
avg

med = nba["PTS"].median()
med

mode = nba["PTS"].astype(int).mode()

.mode() returns a series
 this is to pull out first item of series for easy plotting
mode = mode[0]
mode

Option 1: use matplotlib
plt.hist(nba["PTS"])
plt.show()

Option 2: use pandas
nba["PTS"].hist()
plt.show()

 Option 3: use seaborn
sns.distplot(nba["PTS"])
plt.show()

Making it fancy by including our numeric measures
plt.hist(nba["PTS"], bins=10)
plt.axvline(avg, c="red", label="mean")
plt.axvline(med, c="green", label="median")
plt.axvline(mode, c="orange", label="mode (as int)")
plt.legend()
plt.show()

sns.distplot(nba["ORB"])
plt.show()

percents = nba.filter(like="%")

percents.isna().sum()

percents = percents.dropna()

percents.describe()

    IQR - inter quartile range
    Outliers - 1.5 * IQR away from median
percents.boxplot()
plt.show()

    Standard deviation is the
    average distance each observation is from the mean

    if our data is
x = [1, 2, 3, 4, 5]

     this makes our average
avg = np.mean(x)
avg

    the distances from the mean are
dists = avg - x
dists

    we dont want negatives here so we'll square these
sq_dists = dists ** 2
sq_dists

    Now we'll take the average of these distances
avg_sq_dist = np.mean(sq_dists)
avg_sq_dist

    we squared these numbers so now we want to undo that squaring
    and this is our standard deviation
np.sqrt(avg_sq_dist)

    Confirm that this is the same number
np.std(x)

nba.describe?
#help(nba.describe)

nba.describe()

nba.describe(include="O")

nba[["PTS", "Player"]].groupby("Player").mean()

aggs = {"PTS": ["mean", "median", "count"]}
nba.groupby("Player").agg(aggs)

nba.corr()

     Note, not all of these values are on the same scale
    (i.e. the max FG% is 1, but PTS can have higher values)
     This being on different scales would be an issue.
     How might you put all of these columns on the same scale
    #before creating your rating?
nba["bigman_rating"] = (
    nba["PTS"] * 0.3
    + nba["ORB"] * 0.15
    + nba["DRB"] * 0.15
    + nba["FG%"] * 0.1
    + nba["BLK"] * 0.3
)
nba.head()

                   Inferential week1

%reload_ext nb_black

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

data_url = "https://docs.google.com/spreadsheets/d/1-UsRiETIQzkT5LWICVx3t-w9_-EgW5giL3K6lVkimYQ/export?format=csv"


titanic = pd.read_csv(data_url)
titanic.head(2)

titanic.shape

titanic.dtypes

titanic.info()

titanic["Age"].mean()

titanic["Survived"].mean()


titanic["surv_str"] = titanic["Survived"].replace({0: "No", 1: "Yes"})
titanic["surv_str"].value_counts(normalize=True)

titanic["Survived"].corr(titanic["Pclass"])

crosstab = pd.crosstab(titanic["Survived"], titanic["Pclass"])
sns.heatmap(crosstab, annot=True)
plt.show()


sns.distplot(titanic["Fare"])
plt.show()

sample_size = 50

sample = titanic.sample(sample_size)
sample["Fare"].mean()

sample_size = 500
n_samples = 100

sample_means = []
for i in range(n_samples):
    sample = titanic.sample(sample_size)
    sample_mean = sample["Fare"].mean()

    sample_means.append(sample_mean)

sns.distplot(sample_means)
plt.show()

titanic["Survived"].mean()

sample = np.random.beta(1, 1, 10000)
sns.distplot(sample)
plt.show()

obs_n_survived = titanic["Survived"].sum()
n_passengers = titanic["PassengerId"].nunique()
obs_rate = titanic["Survived"].mean()

valid_rates = []

for _ in range(100000):
    # Prior
    rate = np.random.beta(1, 1)

    # Generative process
    gen_n_survived = np.random.binomial(n_passengers, rate)

    if gen_n_survived == obs_n_survived:
        valid_rates.append(rate)


sns.distplot(valid_rates)
plt.show()

    np.random.beta?

alpha = 15
beta = 13

sns.distplot(np.random.beta(alpha, beta, 100000))
plt.show()


valid_rates = []

for _ in range(1000000):
    # Prior
    rate = np.random.beta(alpha, beta)

    # Generative process
    gen_n_survived = np.random.binomial(n_passengers, rate)

    if gen_n_survived == obs_n_survived:
        valid_rates.append(rate)

    Plot the posterior
sns.distplot(valid_rates)
plt.show()

from tqdm.notebook import tqdm

valid_rates = []

for _ in tqdm(range(1000000)):
    # Prior
    rate = np.random.beta(alpha, beta)

    # Generative process
    gen_n_survived = np.random.binomial(n_passengers, rate)

    if gen_n_survived == obs_n_survived:
        valid_rates.append(rate)

    Plot the posterior
sns.distplot(valid_rates)
plt.show()

                      DISTRIBUTIONS

%reload_ext nb_black

import numpy as np
from scipy import stats
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

    Reproduce same exact results
np.random.seed(42)

    np.random.poisson?

We expect for 10,000 people to arrive every hour
n = 10000
time = 1  # in hours


lmbda = n / time
lmbda = lmbda / 60 / 60  # in seconds

print(f"Expect to see {lmbda} people per second ({n} per hour)")

    Simulate an hours worth of arrivals
arrivals = np.random.poisson(lmbda, size=3600)

print("From our simulation:")
print(f"* {arrivals.sum()} people arrived in an hour")
print(f"* {arrivals.mean()} was the average number arriving per second")

    Intentionally high bin count to highlight
    that the distribution is discrete
bins = 2 * len(set(arrivals)) - 1

plt.hist(arrivals, bins=bins)
plt.axvline(arrivals.mean(), c="orange")
plt.title("Arrivals per second")
plt.show()

total_people_arrived = np.cumsum(arrivals[1:30])
plt.step(range(len(total_people_arrived)), total_people_arrived)
plt.title("Total people in stadium over time (first 30 seconds)")
plt.show()

    # np.random.binomial?


    # How many times will 'rock' appear per `n` games of RPS
n = 100
p = 1 / 3  # Assuming rock is random it will occur a third of the time

print(f"Expect to see {n * p:.2f} rocks per {n} rounds")

'Simulate' 100 RPS games 1000 times
rocks_thrown = np.random.binomial(n, p, size=1000)
print("From our simulation:")
print(
    f"* {rocks_thrown.mean():.2f} was the average number of rocks thrown per {n} games."
)

    # Intentionally high bin count to highlight
    # that the distribution is discrete
bins = 2 * len(set(rocks_thrown))

plt.hist(rocks_thrown, bins=bins)
plt.axvline(rocks_thrown.mean(), c="orange")
plt.title(f"Rocks thrown per {n} rounds")
plt.show()


n_stops = 10000
n_rounds = 5
n_hands = 10
p_of_rock = 1 / 3

print(f"Expect to see {p_of_rock * n_hands} rocks per round.")

rocks_per_round = []
avg_rocks_per_round = []
for _ in range(n_stops):
    rocks_per_round_this_stop = np.random.binomial(n_hands, p_of_rock, size=n_rounds)

    rocks_per_round.extend(rocks_per_round_this_stop)
    avg_rocks_per_round.append(rocks_per_round_this_stop.mean())

print("From our simulation:")
print(f"* {np.mean(rocks_per_round)} was the average number of rocks thrown per round.")

sns.distplot(avg_rocks_per_round, fit=stats.norm)
plt.axvline(np.mean(avg_rocks_per_round), c="orange")
plt.show()

n = 10000
x = np.random.beta(0.5, 0.5, n)

plt.hist(x)
plt.show()

n_samples = 1000
sample_size = 10000
replacement = True

means = []
for i in range(n_samples):
    sample = np.random.choice(x, sample_size, replacement)
    mean = sample.mean()
    means.append(mean)

true_mean = x.mean()
mean_est = np.mean(means)

plt.hist(means)
plt.axvline(true_mean, c="orange")
plt.axvline(mean_est, c="green")
plt.show()


np.random.seed(1337)
x = np.random.normal(size=10000)

sample_size = 100
sample = np.random.choice(x, sample_size)

print(f"Population mean: {np.mean(x)}")
print(f"Sample mean: {np.mean(sample)}")

ci_hi = sample.mean() + 1.96 * sample.std() / np.sqrt(sample_size)
ci_lo = sample.mean() - 1.96 * sample.std() / np.sqrt(sample_size)

true_mean = np.mean(x)
captured_true_mean = true_mean > ci_lo and true_mean < ci_hi

print(f"({ci_lo}, {ci_hi})\n\nCaptures true mean: {captured_true_mean}")

stats.t.interval(0.95, len(sample) - 1, loc=np.mean(sample), scale=stats.sem(sample))

def ci_mean(sample, confidence=0.95):
    ci = stats.t.interval(
        confidence, len(sample) - 1, loc=np.mean(sample), scale=stats.sem(sample)
    )

    return ci


ci_mean(sample, 0.95)

confidence_levels = [0.10, 0.90, 0.95, 0.99, 0.99999999]
for c in confidence_levels:
    ci = ci_mean(sample, c)
    print(f"{c * 100}% CI: {ci}")

np.random.seed(1337)
x = np.random.normal(size=10000)
pop_mean = x.mean()

sample_size = 5

captured = []

for _ in range(100):
    sample = np.random.choice(x, sample_size)

    ci_lo, ci_hi = ci_mean(sample, 0.95)

    captured_true_mean = pop_mean > ci_lo and pop_mean < ci_hi
    captured.append(captured_true_mean)

sum(captured)

                                         fortune_100_eda


import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

data_url = "https://docs.google.com/spreadsheets/d/1w1BfAGjEJk_Ywglo0nWKUk5gKmqEmfFb101IoXtj8D8/export?format=csv"

df = pd.read_csv(data_url)
df.shape

df.head(2)

df.dtypes

     Dashes are used as missing value indicator in some columns
    # replacing these dashes with NaN
df[df == "-"] = np.nan


num_cols = [
    "Revenues ($M)",
    "Profits ($M)",
    "Assets ($M)",
    "Mkt Value as of 3/29/18 ($M)",
    "Employees",
]

for num_col in num_cols:
    df[num_col] = df[num_col].str.replace("$", "", regex=False)
    df[num_col] = df[num_col].str.replace(",", "", regex=False)
    df[num_col] = pd.to_numeric(df[num_col])


percent_cols = ["Profit Change", "Revenue Change"]

for percent_col in percent_cols:
    df[percent_col] = df[percent_col].str.replace("%", "", regex=False)
    df[percent_col] = pd.to_numeric(df[percent_col])
    df[percent_col] /= 100

df = df.apply(pd.to_numeric, errors="ignore")

    find biggest winners/losers
df["rank_diff"] = df["Previous Rank"] - df["rank"]
df.sort_values("rank_diff").head(2)

n = 3
sector_counts = df["Sector"].value_counts()
top_n_sectors = sector_counts.head(3).index

plot_cols = ["rank", "Revenues ($M)", "Employees", "Profits ($M)", "Sector"]

plot_df = df.loc[df["Sector"].isin(top_n_sectors), plot_cols]

sns.pairplot(plot_df, hue="Sector")
plt.show()


def tall_corr(df):
    """View corrs as a tall dataframe sorted by absolute value"""
    # Run correlation
    corr_df = df.corr()

    # Set upper triangle to np.nan
    is_upper_tri = np.triu(np.ones(corr_df.shape)).astype(bool)
    corr_df[is_upper_tri] = np.nan

    # Convert to tall
    corr_df = corr_df.reset_index()
    tall_corr_df = pd.melt(corr_df, id_vars="index")
    tall_corr_df.columns = ["a", "b", "corr"]

    # Sort by absolute value of corr
    tall_corr_df["abs_corr"] = tall_corr_df["corr"].abs()
    tall_corr_df = tall_corr_df.sort_values("abs_corr", ascending=False)
    tall_corr_df = tall_corr_df.drop(columns="abs_corr")

    return tall_corr_df.dropna()

corr_df = tall_corr(df)

    # View top 10 colored by
corr_df.head(10)

                                          Python Review Q&A


def dict_sum(d, thresh):
    for i in d:
        print('{} {} {}'.format(i, d[i], thresh))
        sum = 0
        if (i >= thresh):
            sum += d[i]
            print(sum)
    return sum

dict_sum({1: 2, 3: 4, 5: 6}, 1)

import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

mtcars_url = 'https://gist.githubusercontent.com/ZeccaLehn/4e06d2575eb9589dbe8c365d61cb056c/raw/64f1660f38ef523b2a1a13be77b002b98665cdfe/mtcars.csv'

-- Using table: fueleconomy.public.vehicles
-- No context for these prompts :(  Straight to business.

-- How many records are in the vehicles table?
SELECT COUNT(*)
FROM vehicles;

-- How many records are there that use Diesel fuel?
SELECT COUNT(*)
FROM vehicles
WHERE fuel = 'Diesel';


-- How many non-NULL records are there in the cyl column?
-- 33442
SELECT COUNT(*)
FROM vehicles;

-- 33384
SELECT COUNT(cyl)
FROM vehicles;

-- 33384
SELECT COUNT(*)
FROM vehicles
WHERE cyl IS NOT NULL;


-- Can you explain why the cyl column has NULLs?
SELECT *
FROM vehicles
WHERE cyl IS NULL;


-- List the unique fuel types when cyl is NULL
SELECT DISTINCT fuel
FROM vehicles
WHERE cyl IS NULL;


-- Count the unique number of makes when cyl is NULL
SELECT COUNT(DISTINCT make), COUNT(model), COUNT(DISTINCT model)
FROM vehicles
WHERE cyl IS NULL;


-- Find unique make model pairs where cyl is NULL
SELECT DISTINCT make, model
FROM vehicles
WHERE cyl IS NULL;


-- What is the average hwy mpg? cty mpg?
SELECT ROUND(AVG(hwy), 2), ROUND(AVG(cty), 2)
FROM vehicles;


-- What brands make the most fuel efficient cars?
-- Include a count of the number of records for each make to get
-- additional perspective?
SELECT make,
       ROUND(AVG(hwy), 2) AS avg_hwy, 
       ROUND(AVG(cty), 2) AS avg_cty,
	   COUNT(*)
FROM vehicles
GROUP BY make
ORDER BY avg_hwy DESC, avg_cty DESC;


-- Redo the last analysis but with a minimum number of records for
-- a make to be elligible.  Let's say 1000 to be considered.
SELECT make,
       ROUND(AVG(hwy), 2) AS avg_hwy, 
       ROUND(AVG(cty), 2) AS avg_cty,
	   COUNT(*)
FROM vehicles
GROUP BY make
HAVING COUNT(*) > 1000
ORDER BY avg_hwy DESC, avg_cty DESC;


-- Redo the last analysis but only consider any type of 'Regular' fuel.
-- So our question were answering now.  Which large* makes produce
-- the most fuel efficient cars (where large is >1000 records)?
SELECT make,
       ROUND(AVG(hwy), 2) AS avg_hwy, 
       ROUND(AVG(cty), 2) AS avg_cty,
	   COUNT(*)
FROM vehicles
WHERE fuel ILIKE '%regular%'
GROUP BY make
HAVING COUNT(*) > 1000
ORDER BY avg_hwy DESC, avg_cty DESC;

-- What fuel types did we even exclude above?
SELECT DISTINCT fuel
FROM vehicles
WHERE NOT fuel ILIKE '%regular%';


-- What are the top 5 most fuel efficient cars that
-- have any type of four-wheel or all-wheel drive?

-- Note, multiple records for make/model/year combination
-- use business sense and client as a resource of best agg function
SELECT
	make,
	model,
	year,
	ROUND(AVG(hwy), 2) AS avg_hwy_mpg,
	ROUND(AVG(cty), 2) AS avg_cty_mpg,
	COUNT(*) AS n
FROM 
	vehicles
WHERE drive LIKE '%All%' OR drive LIKE '%4%'
GROUP BY 
	model, make, year
ORDER BY n DESC, avg_hwy_mpg DESC, avg_cty_mpg DESC
LIMIT 5;


-- Create a report that shows the worst & best hwy mpg before 1990
-- and after 1990
SELECT CASE
         WHEN year > 1990 THEN 'After 1990'
         WHEN year < 1990 THEN 'Before 1990'
		 ELSE '1990'
       END AS year_label,
	   MIN(hwy) AS worst_hwy_mpg,
	   MAX(hwy) AS best_hwy_mpg,
	   COUNT(*) AS n
FROM vehicles
WHERE NOT fuel ILIKE '%Electricity%'
GROUP BY year_label;

  
-- Using the band_members database

----------------------------------
-- JOINs -------------------------
----------------------------------

-- Explore the 2 tables in the band_members database.
-- How can we combine the information from these tables?
SELECT *
FROM band_instruments;

SELECT *
FROM band_members;

-- Join the 2 tables and only keep records
-- where the key is found in both tables
SELECT *
FROM band_members 
JOIN band_instruments
ON band_members.name = band_instruments.name;

-- SELECT * brings back our key column twice!
-- Be explicit to avoid confusing field naming.
SELECT band_members.name, band, plays
FROM band_members 
INNER JOIN band_instruments
ON band_members.name = band_instruments.name;

-- Make it more readable with aliasing
SELECT bm.name, band, plays
FROM band_members AS bm
INNER JOIN band_instruments AS bi
ON bm.name = bi.name;

-- Note, we don't *need* the AS keyword
-- Some RDBMSes actually won't let you use AS to alias tables
SELECT bm.name, band, plays
FROM band_members bm
INNER JOIN band_instruments bi
ON bm.name = bi.name;

-- Conversely we could prefix every column if we wanted
-- This isn't needed since band & plays aren't ambiguous
SELECT bm.name, bm.band, bi.plays
FROM band_members AS bm
INNER JOIN band_instruments AS bi
ON bm.name = bi.name;

-- A FULL OUTER JOIN grabs every row from both tables
-- You'll sometimes see OUTER dropped from this type of JOIN
SELECT bm.name as bm_name, 
       bi.name as bi_name, 
	   band,
	   plays
FROM band_members AS bm
FULL OUTER JOIN band_instruments AS bi
ON bm.name = bi.name;

-- LEFT OUTER JOIN (think venn diagram)
-- you'll often see people drop the OUTER from this 
-- type of JOIN
SELECT *
FROM band_members AS bm LEFT JOIN band_instruments AS bi
ON bm.name = bi.name;

-- RIGHT JOINs work very similarly to LEFT JOINs
SELECT *
FROM band_members AS bm RIGHT JOIN band_instruments AS bi
ON bm.name = bi.name;


----------------------------------
-- Set operations ----------------
----------------------------------

-- Joins will combine tables horizontally combine
-- tables, sometimes we have a usecase for combining
-- tables vertically.  For this, we can use UNION.
-- Using UNION will only grab unique records
-- This can be thought of as set addition.
-- What are some potential use cases of UNION?

-- pandas equivalent:
-- pd.concat((df1, df2))
SELECT *
FROM band_members
UNION
SELECT *
FROM band_members;

-- Note, it doesn't check column names aligning
SELECT band, name
FROM band_members
UNION
SELECT *
FROM band_instruments;


-- UNION ALL will not filter out duplicates
SELECT *
FROM band_members
UNION ALL
SELECT *
FROM band_members;


-- datatype alignment
SELECT CAST(1 AS CHAR) AS one, band
FROM band_members
UNION
SELECT *
FROM band_members;

-- Using INTERSECT will stack tables similarly
-- to UNION.  The difference is that INTERSECT
-- only keeps rows common to both tables.
-- What are some potential use cases of INTERSECT?
SELECT *
FROM band_members
INTERSECT
SELECT *
FROM band_members
WHERE name = 'John';


-- The last set operator we're going to look at is
-- EXCEPT.  This can be thought of as set subtraction.
-- EXCEPT will give us all rows from the first table
-- that are not present in the second.
SELECT *
FROM band_members
EXCEPT
SELECT *
FROM band_members
WHERE name = 'John';

                                 btc_skew


import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt

%matplotlib inline


postgres_user = "dsbc_student"
postgres_pw = "7*.8G9QH21"
postgres_host = "142.93.121.174"
postgres_port = "5432"
postgres_db = "bitcoinhistoricaldata"


conn_str = f"postgresql://{postgres_user}:{postgres_pw}@{postgres_host}:{postgres_port}/{postgres_db}"
df = pd.read_sql_query("SELECT * FROM coinbase", con=conn_str)

stats.describe(df["volume_btc"])

stats.describe(df["volume_btc"]).skewness

df["volume_btc"].hist()
plt.title("raw volume_btc")
plt.show()

np.log(df["volume_btc"]).hist()
plt.title("log(volume_btc)")
plt.show()

np.sqrt(df["volume_btc"]).hist()
plt.title("sqrt(volume_btc)")
plt.show()

(df["volume_btc"] ** (1 / 3)).hist()
plt.title("volume_btc ^ (1/3)")
plt.show()

                                         dates.sql

-- Using table: dvdrentals.public.rental

-- We're cracking down on overdue rentals.
-- We have little power over this so we're going to 
-- take a passive aggressive route.  For anyone,
-- who has had their rental for over 1 week, label them with
-- "i'm lame and i turn things in late". For those who've had
-- their dvd for under 24 hours, label them with "newbie".
-- Make up a label or leave the remaining unlabeled.

-- Use age with only 1 arg to compare to today
SELECT AGE(rental_date)
FROM rental;

-- Actual response to prompt
SELECT customer_id,
       rental_date,
	   CASE
	      WHEN AGE(rental_date) > '1 week' THEN 'i''m lame and i turn things in late'
	      WHEN AGE(rental_date) < '24 hours' THEN 'newbie'
	   END AS age_label
FROM rental;


-- Everyone knows Garfield hates Mondays.  Garfield also happens
-- to manage this DVD rental place.  Everyone that rents DVDs on
-- Mondays is dead to him.  Return all records where the rental 
-- date is not a Monday.  Include a column showing the day of the
-- week in this output.
-- reference: https://www.postgresql.org/docs/9.6/functions-formatting.html

-- Day TO_CHAR examples:
SELECT rental_date
       ,TO_CHAR(rental_date, 'Day')
       ,TO_CHAR(rental_date, 'DAY')
	   ,TO_CHAR(rental_date, 'day')
	   ,TO_CHAR(rental_date, 'D')
	   ,TO_CHAR(rental_date, 'DD')
	   ,TO_CHAR(rental_date, 'DDD')
FROM rental;

-- Prompt response:
SELECT rental_date
       ,TO_CHAR(rental_date, 'Day') AS weekday
-- 	   ,'Lasagna' AS please_dont_fire_me
FROM rental
WHERE NOT TO_CHAR(rental_date, 'Day') = 'Monday';


-- All of our rentals are due a week after their rental date.
-- Create a column showing the due date for each rental.
-- Create a column indicating whether or not the dvd is overdue.
SELECT rental_date
       ,rental_date + INTERVAL '1 week' AS due_date
       ,CASE
	       WHEN AGE(rental_date) > '1 week' AND return_date IS NULL THEN 'Late'
		   ELSE 'Not Late'
	    END AS overdue
FROM rental;


-- INTERVAL will convert strings to a time interval data type
-- not always needed, psql makes some good assumptions with this
SELECT '1 week', INTERVAL '1 week';

-- How long do people keep their rentals for?
-- Show a list of everyone who had their rental over a week.
SELECT return_date - rental_date AS rental_len
FROM rental
WHERE return_date - rental_date > '9 days';


-- Almost all programmers will agree that the best 
-- way to write a date is YYYY-MM-DD.  However, your
-- average US citizen might not agree. Let's malicously
-- comply with society by showing the rental date as
-- month_number/day_number/year and the return date as 
-- month_name day_number, year.
-- reference: https://www.postgresql.org/docs/9.6/functions-formatting.html
SELECT TO_CHAR(rental_date, 'MM/DD/YYYY') AS MM_DD_YYYY, 
       TO_CHAR(return_date, 'Month, DD, YYYY') AS Month_DD_YYYY
FROM rental;


SELECT CONCAT(
	          TRIM(TO_CHAR(return_date, 'Month')),
	          ' ',
	          TO_CHAR(return_date, 'DD'), 
	          ', ', 
	          TO_CHAR(return_date, 'YYYY')
        ) AS date_str
FROM rental;

-- Make up a prompt to use different techniques we've
-- used so far and bring it to workshop to challenge
-- everyone.  It can use whatever database & table you'd like.


-- Find the customer that has the largest total of days late
-- the amount of days past the 1 week rental time
-- include inventory_id
SELECT AGE(return_date, rental_date) - '1 week' AS late_amount
FROM rental
WHERE AGE(return_date, rental_date) - '1 week' > '0 seconds'
ORDER BY late_amount DESC
LIMIT 5;

                                      db_csv_load

import pandas as pd
from sqlalchemy import create_engine

user = "postgres"
pwd = "***********" # Replace with your password
host = "localhost"
port = "5432"
db = "postgres"

engine = create_engine("postgresql://" + user + ":" + pwd + 
                       "@" + host + ":" + port + "/" + db)

print('downloading vehicles data...')
vehicles = pd.read_csv("https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/vehicles.csv")
print('loading vehicles data into db...')
vehicles.to_sql("vehicles", engine, index=False)

print('downloading houseprices data...')
houseprices = pd.read_csv("https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/houseprices.csv")
print('loading houseprices data into db...')
houseprices.to_sql("houseprices", engine, index=False)

                                         dvdrental_joins.sql

-- Using the dvdrentals database:
-- Return all matching records as a result of joining 
-- the payment and customer tables. Keep only records found in both tables.

-- How do we think these tables join up?
-- To prove out the foreign keyness of this field we 
-- could also view the table constraints.
SELECT * FROM payment;
SELECT * FROM customer;


-- Lets now perform the join
-- Reminder of the prompt: 
-- "Keep only records found in both tables"
-- This query will return 2 copies of the `customer_id` field
SELECT *
FROM payment AS p
INNER JOIN customer AS c
ON p.customer_id = c.customer_id;


-- Return the first name, last name and address of 
-- customers as a result of joining the customer and address tables. 
-- Keep only records found in both tables.
SELECT 
	first_name,
	last_name,
	address
FROM customer AS cus
	JOIN address AS ad
ON cus.address_id = ad.address_id;


-- We can keep the JOIN 🚂 rolling and join on join on join on join on join on join on join on join on join...
-- Add payment amounts to the last query

-- Note, this is introducing duplicate info from LEFT table
-- Check row counts with COUNT(*) and note what the expected
-- output row count is.
SELECT 
	first_name,
	last_name,
	address,
	amount
FROM customer AS cus
	JOIN address AS ad
ON cus.address_id = ad.address_id
LEFT JOIN payment AS p
ON cus.customer_id = p.customer_id;

-- Checking expected output row count:
SELECT COUNT(*)
FROM customer AS cus
	JOIN address AS ad
ON cus.address_id = ad.address_id;

SELECT COUNT(*)
FROM customer AS cus
	JOIN address AS ad
ON cus.address_id = ad.address_id
LEFT JOIN payment AS p
ON cus.customer_id = p.customer_id;

-- Let's 'solve' the duplication by showing total
-- customer payments.
SELECT 
	cus.first_name,
	cus.last_name,
	ad.address,
	SUM(p.amount)
FROM customer AS cus
	JOIN address AS ad
       ON cus.address_id = ad.address_id
    LEFT JOIN payment AS p
       ON cus.customer_id = p.customer_id
GROUP BY cus.first_name, cus.last_name, ad.address;

-- When joining many tables it can be useful to specify
-- what table everything is coming from, even though it isn't necesary.
-- If you hadn't already, add table specifiers before every
-- column you mention in the SELECT clause



-- We can also JOIN a table to itself
-- Example potential use case:
-- We have a 'people' table modeled like below.
-- We could join it to itself to get a marriage per row.
-- |  id  |  name  | married_to |
-- |:----:|:------:|:----------:|
-- |  1   | Skyler |     3      |
-- |  2   | Elliot |    NULL    |
-- |  3   | Peyton |     1      |

-- SELECT *
-- FROM people AS a
--   JOIN people AS b
--     ON a.id = b.married_to;

-- Don't have a great setup for our dvdrentals data
-- but this is how a self JOIN query could look like.
-- This is also a use case for aliasing where its not
-- only an aid to readability.
SELECT a.customer_id,
       CONCAT('A - ', a.first_name) AS cust_name_a,
       CONCAT('B - ', b.first_name) AS cust_name_b
FROM customer AS a
INNER JOIN customer AS b
ON a.customer_id = b.customer_id;

                                         intro_conditional_logic_alias_limit.sql

--------------------------------
-- INTRO QUERIES ---------------
--------------------------------

-- SELECT * (pronounced 'select star')
-- is a 'wildcard' character meaning 'i want all the columns'

-- query translation: 
-- "give me all the columns from the houseprices table"
SELECT *
FROM houseprices;


-- Sometimes you might see the schema name before the table name
-- Think of how we call functions from pandas like pd.read_csv().
-- This is unneeded in this case but sometimes you might have multiple
-- schemas and this can allow you to reference 2 different tables with the same
-- name in different schemas (i.e. schema1.prices & schema2.prices)

-- query translation: 
-- "give me all the columns from the houseprices table
-- located in the public schema"
SELECT *
FROM public.houseprices;


-- Sometimes you might see the database before the schema.
-- This is the same as specifying the schema.  Not all RDBMSs
-- allow you to query tables from multiple databases at once.
-- Postgres does not allow querying multiple DBs in the same query by default.
-- MS SQL Server is an example of an RDBMS that allows this.

-- query translation: 
-- "give me all the columns from the houseprices table 
-- located in the public schema of the houseprices database"
SELECT *
FROM houseprices.public.houseprices;


-- If you want to be more specific, instead of using *, we
-- can ask for fields by name.  The general SQL syntax is
-- SELECT column1, column2
-- FROM table

-- query translation: 
-- "give me the yearbuilt and saleprice columns from the houseprices table"

-- pandas equivalent:
-- houseprices[['yearbuilt', 'saleprice']]
SELECT yearbuilt, saleprice
FROM houseprices;


--------------------------------
-- EXPLORING A NEW TABLE -------
--------------------------------

-- When you first get your hands on a table, you'll want to explore.
-- Ways to explore:
--   * A schema diagram might be provided
--   * Use a GUI (like pgAdmin) to click around and view fields/tables/schemas/DBs
--   * Use the `information_schema`

-- We'll talk more about all the parts of this query in a bit.
-- For now, you might just keep a tab on this.

-- query translation: 
-- "give me the column names and datatypes for the houseprices table"
SELECT column_name, data_type 
FROM information_schema.columns
WHERE table_name = 'houseprices';


-- query translation: 
-- "give me the column names and datatypes for the transactions table"
SELECT column_name, data_type 
FROM information_schema.columns
WHERE table_name = 'transactions';


--------------------------------
-- FILTERING WITH WHERE --------
--------------------------------

-- Very commonly, we want only a subset of records based on a 
-- condition.  For this, we'll use the WHERE clause.  Our new
-- template for including this will be:
-- SELECT column(s)
-- FROM table
-- WHERE condition(s)

-- pandas equivalent:
-- houseprices.loc[houseprices['yearbuilt'] > 1984, ['yearbuilt', 'saleprice']]
SELECT saleprice, yearbuilt
FROM houseprices
WHERE yearbuilt > 1984;


-- For equality checks, SQL uses single `=` not `==` like in python

-- pandas equivalent:
-- houseprices.loc[houseprices['yearbuilt'] == 1984, ['yearbuilt', 'saleprice']]
SELECT saleprice, yearbuilt
FROM houseprices
WHERE yearbuilt = 1984;


-- In postgreSQL both `<>` and `!=` work for not equal

-- pandas equivalent:
-- houseprices.loc[houseprices['yearbuilt'] != 1984, ['yearbuilt', 'saleprice']]
SELECT saleprice, yearbuilt
FROM houseprices
WHERE yearbuilt <> 1984;

SELECT saleprice, yearbuilt
FROM houseprices
WHERE yearbuilt != 1984;


-- Logical operators
-- AND/OR/NOT like you'd expect with a pythonic mindset

-- pandas equivalent:
-- houseprices.loc[
--     (houseprices["yearbuilt"] > 1984) & (houseprices["saleprice"] > 300000),
--     ["yearbuilt", "saleprice"],
-- ]
SELECT saleprice, yearbuilt
FROM houseprices
WHERE yearbuilt > 1984 AND saleprice > 300000;

-- pandas equivalent:
-- houseprices.loc[
--     (houseprices["yearbuilt"] > 1984) | (houseprices["saleprice"] > 300000),
--     ["yearbuilt", "saleprice"],
-- ]
SELECT saleprice, yearbuilt
FROM houseprices
WHERE yearbuilt > 1984 OR saleprice > 300000;


-- IN also works similarly to in python

-- pandas equivalent (base python would use `in`, pandas uses `.isin()`):
-- houseprices.loc[
--     houseprices["yearbuilt"].isin([1985, 1995, 2005]), 
--     ["yearbuilt", "saleprice"]
-- ]
SELECT saleprice, yearbuilt
FROM houseprices
WHERE yearbuilt IN (1985, 1995, 2005);


-- BETWEEN can be useful to filter to a range (inclusive)

-- pandas equivalent:
-- houseprices.loc[
--     houseprices["yearbuilt"].between(1984, 1985), 
--     ["yearbuilt", "saleprice"]
-- ]
SELECT saleprice, yearbuilt
FROM houseprices
WHERE yearbuilt BETWEEN 1984 AND 1985;

-- Equivalent written out with traditional comparison operators
SELECT saleprice, yearbuilt
FROM houseprices
WHERE yearbuilt >= 1984 AND yearbuilt <= 1985;


--------------------------------
-- CASE STATEMENTS -------------
--------------------------------

-- We might want to create a field in our output based on some conditions
-- For example, maybe we want to label home prices as above or below a value.
-- According to zillow (as of 2020-07-27): 
-- "The median home value in the United States is $248,857."
-- We can use the same conditional logic as in the WHERE statement to create
-- a label column.

-- pandas equivalent:
-- df = houseprices.loc[:, ["saleprice", "yearbuilt"]]
-- df["case"] = "Below Median"
-- df.loc[df["saleprice"] > 248857, "case"] = "Above Median"
-- df.loc[df["saleprice"] == 248857, "case"] = "Median"
SELECT saleprice, yearbuilt,
       CASE 
	     WHEN saleprice > 248857 THEN 'Above Median'
		 WHEN saleprice = 248857 THEN 'Median'
	     ELSE 'Below Median'
	   END
FROM houseprices;


--------------------------------
-- ALIASING COLUMNS ------------
--------------------------------

-- Sometimes we want to rename a column in our output
-- This does not change the field name in the database, just in our output

-- pandas equivalent:
-- df = houseprices.loc[:, ["saleprice", "yearbuilt"]]
-- df = df.rename(columns={"yearbuilt": "yb"})
SELECT saleprice, yearbuilt AS yb
FROM houseprices;

-- Note that we cannot use this alias in the WHERE statement
-- We'll use aliasing more in the future and experiment with
-- where we can/can't use these aliases.
SELECT saleprice, yearbuilt AS yb
FROM houseprices
WHERE yb > 1990;


--------------------------------
-- LIMITING QUERY SIZE ---------
--------------------------------

-- LIMIT works like `pandas.DataFrame.head()`
-- It allows you to SELECT the top n rows FROM a table
-- As we'll see, this pairs well with sorting to be able
-- to query for the top n based on some field.

-- pandas equivalent:
-- houseprices[['saleprice', 'yearbuilt']].head(2)
SELECT saleprice, yearbuilt
FROM houseprices
LIMIT 2;

                                                    math_operations.sql

 To answer these use the table:
-- bitcoinhistoricaldata.public.coinbase

-- Request from business client: 
--   Show me the days that had gaps greater than 80 between open & close.
--   Info wanted for these days:
--     * What were the dates?
--     * How large are these gaps?
--     * What is the largest gap?
--     * What were the open/close values?
SELECT timestamp, 
       ABS(open - close) AS gap, 
       open, 
       close 
FROM   coinbase 
WHERE  ABS(open - close) > 85; 


-- Request from business client: 
--   I'm a superstitious trader and I'd only like to trade on days where the open
--   value is a multiple of 5.  Are there days in the table where I'd be 
--   able to trade?  Can you please send me a csv of the records where my
--   superstition would allow me to trade?
SELECT * 
FROM   coinbase 
WHERE  open :: DECIMAL % 5 = 0; 

SELECT * 
FROM   coinbase 
WHERE  CAST(open AS DECIMAL) % 5 = 0; 


-- The `volume_btc` field is fairly postively skewed.
-- That is most values are low but some are very high (see btc_skew.ipynb for more).
-- One way of dealing with this skew in machine learning
-- is by using transformations.  Some possible transformations
-- are log, square root, and cube root.  Write a query to return:
--   * every field in the table and 
--   * a field for each of these transformations
SELECT *, 
       LOG(volume_btc)            AS log_vol_btc, 
       SQRT(volume_btc)           AS sqrt_vol_btc, 
       volume_btc ^ ( 1.0 / 3.0 ) AS cbrt_vol_btc 
FROM   coinbase; 
	   

-- Request from business client:
--   I want an instability metric thats a single value to show how volatile
--   the market was on a given day.  I'd like this metric to be the weighted 
--   average between:
--     * The size of the gap between high/low   (40% weight)
--     * The size of the gap between open/close (60% weight)
--   I'd like this number to be rounded to only show one decimal.
--   Only show me the numbers where the open is different than the close.
--   If you think of a better metric, let me know, but please deliver on this
--   request before suggesting alternatives.
SELECT *, 
       -- ROUND(what_to_round, number_of_decimal_places) 
       ROUND(( ( high - low ) * 0.4 + ABS(open - close) * 0.6 ) :: DECIMAL, 1) AS metric_wt, 
       -- Round up to nearest int (no option on number of decimals)
       CEIL(( ( high - low ) * 0.4 + ABS(open - close) * 0.6 ) :: DECIMAL) AS metric_wt_ceil, 
       -- Round down to nearest int (no option on number of decimals)
       FLOOR(( ( high - low ) * 0.4 + ABS(open - close) * 0.6 ) :: DECIMAL) AS metric_wt_floor 
FROM   coinbase 
WHERE  NOT open = close;

                                                       review_qa.ipynb

%reload_ext nb_black

makes = ["Ford", "Chevrolet", "Toyota", "Honda"]


import pandas as pd
from sqlalchemy import create_engine

postgres_user = "dsbc_student"
postgres_pw = "7*.8G9QH21"
postgres_host = "142.93.121.174"
postgres_port = "5432"
postgres_db = "fueleconomy"


conn_str = f"postgresql://{postgres_user}:{postgres_pw}@{postgres_host}:{postgres_port}/{postgres_db}"

query_template = """
SELECT make,
       model, 
       year,
       hwy
FROM vehicles
WHERE make = '{}'
ORDER BY hwy DESC
LIMIT 10
"""

print(query_template)

engine = create_engine(conn_str)

dfs = []
for make in makes:
    query = query_template.format(make)
    df = pd.read_sql_query(query, engine)
    dfs.append(df)

engine.dispose()

full_df = pd.concat(dfs)
full_df.shape

full_df.head()

Using fueleconomy.public.vehicles

    # prompt:
    # Write a query to return every vehicle with above average cty mpg.
    # Include in the output a column labeling whether the hwy mpg is
    # above/below avg.

postgres_user = "dsbc_student"
postgres_pw = "7*.8G9QH21"
postgres_host = "142.93.121.174"
postgres_port = "5432"
postgres_db = "fueleconomy"

conn_str = f"postgresql://{postgres_user}:{postgres_pw}@{postgres_host}:{postgres_port}/{postgres_db}"

    # potential solution
query = """
SELECT make,
       model,
       CASE
         WHEN hwy >= (SELECT AVG(hwy) FROM vehicles) THEN 'Above Avg Hwy'
         ELSE 'Below Avg Hwy'
       END AS hwy_rating
FROM vehicles
WHERE cty > (SELECT AVG(cty) FROM vehicles);
"""

df = pd.read_sql_query(query, engine)
df.head()

Potential structure for housing multiple queries in a project repo:

#.
        # ├── README.md
    # └── queries
    #     ├── task1.sql
    #     └── task2.sql

    # glob allows for pattern matching file names
import glob

    # You know what you want
sql_files = ["task1.sql", "task2.sql"]

    # You dont know and want the os to tell you
    # pattern here is saying:
    # "match anything that ends in .sql in current dir"
sql_files = glob.glob("*.sql")

WITH answer AS (
    SELECT concat(namelast,', ', namefirst) AS namefull, yearid, inducted
    FROM hof_inducted LEFT OUTER JOIN people
    ON hof_inducted.playerid = people.playerid
    WHERE yearid >= 1980

    UNION ALL
    --UNION

    SELECT concat(namelast,', ', namefirst) AS namefull, yearid, inducted
    FROM hof_not_inducted LEFT OUTER JOIN people
    ON hof_not_inducted.playerid = people.playerid
    WHERE yearid >= 1980

    ORDER BY yearid,  inducted DESC, namefull
)

SELECT COUNT(*)
FROM answer;

                                    class_notebooks/week2/sql_in_python.ipynb

%reload_ext nb_black

    # Installations for talking to postgres
    # !pip install psycopg2-binary
    # !pip install sqlalchemy

import pandas as pd
from sqlalchemy import create_engine, MetaData, Table

    Note, in practice, storing a password as a string in code is bad.
    # In practice, you might read this password from a secret manager, or at
    # a minimum store it in a different file that is listed in your `.gitignore`.
postgres_user = "dsbc_student"
postgres_pw = "7*.8G9QH21"
postgres_host = "142.93.121.174"
postgres_port = "5432"
postgres_db = "medicalcosts"

    # Define connection string
conn_str = "postgresql://{}:{}@{}:{}/{}".format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db
)
conn_str

engine = create_engine(conn_str)

engine

query = "SELECT * FROM medicalcosts WHERE age > 30"
print(query)

query = """
SELECT *
FROM medicalcosts
WHERE age > 30
"""

print(query)

with open("math_operations.sql", "r") as f:
    q = f.read()

    # print(q)


med_costs = pd.read_sql_query(query, engine)
engine.dispose()

import pandas as pd


postgres_user = "dsbc_student"
postgres_pw = "7*.8G9QH21"
postgres_host = "142.93.121.174"
postgres_port = "5432"
postgres_db = "medicalcosts"

conn_str = f"postgresql://{postgres_user}:{postgres_pw}@{postgres_host}:{postgres_port}/{postgres_db}"

query = """
SELECT *
FROM medicalcosts
LIMIT 5000
"""

medical_costs = pd.read_sql_query(query, con=conn_str)
medical_costs.head(2)


    # Read contents of `secrets.json` to a dictionary
import json

with open("../secrets.json", "r") as f:
    secrets = json.load(f)

postgres_user = "postgres"
postgres_pw = secrets["local_psql_pw"]
postgres_host = "localhost"
postgres_port = "5432"
postgres_db = "postgres"

conn_str = f"postgresql://{postgres_user}:{postgres_pw}@{postgres_host}:{postgres_port}/{postgres_db}"

engine = create_engine(conn_str)
engine

    #dir(engine)
engine.table_names()


meta = MetaData(engine)

vehicles = Table("vehicles", meta, autoload=True)

list(vehicles.columns)

    # For writing data to SQL from pandas we can use a dataframe's `.to_sql()` method.
import seaborn as sns

iris = sns.load_dataset("iris")
iris.to_sql("iris", engine, index=True)

engine.table_names()


    # To execture arbitrary sql we can use a sqlalchemy engine's `.execute()` method.
query = "DROP TABLE iris"
engine.execute(query)
engine.table_names()

engine.dispose()

                                  class_notebooks/week2/string_operations.sql

To answer these use the table:
-- baseball.public.people

-- Request from client:
--    We're going to be interviewing players and we want
--    some text to put on screen so viewers know who they are.
--    Can you create 2 text fields for this? (1 for each line we'll show on screen)
--     * The first text field should have the players name and their age like:
--          "David Aardsma (age: 31)"
--     * The second line should have the handedness:
--          "Bats: R; Throws: R"
--  Please name these fields to indicate which is line 1 and line 2.
--  We're only going to use this overlay for 2020, so there's no need to future proof.
SELECT namefirst || ' ' || namelast || ' (age: ' || 2020 -  birthyear || ')' AS line_1,
       'Bats: ' || bats || '; Throws: ' || throws AS line_2
FROM people;

-- will also work here
SELECT CONCAT(namefirst, ' ', namelast, ' (age: ', 2020 -  birthyear, ')') AS line_1,
       CONCAT('Bats: ', bats, '; Throws: ', throws) AS line_2
FROM people;

-- will work in ms sql server
-- SELECT namefirst + ' ' + namelast + '(age: ' + 2020 -  birthyear + ')'
-- FROM people;




-- Request from client:
--  I can't explain it, but our new CEO says we need to show the players
--  names starting with the letter B.  Can you write a query to output the 
--  players' first and last names with the first letter of each replaced with a B?
--  Name these outputs bamefirst and bamelast.

-- SUBSTRING(column, start_position, length)
SELECT 'B' || SUBSTRING(namefirst, 2) AS bamefirst,
       'B' || SUBSTRING(namelast, 2) AS bamelast
FROM people;


-- Request from client:
--  Ok, that last CEO didn't last long.... 
--  after the B fiasco they were replaced.
--  The new CEO wants to go the other direction.  
--  Can you remove every B from the player names (case insensitive, all bs MUST go)
--  Might be an overcorrection but ¯\_(ツ)_/¯...
--  To ensure that this is working, will you output both the original
--  names and the 'cleaned' names.  Additionally, filter the output
--  to only show names that orginally had Bs in them.
SELECT namefirst,
       namelast,
       REPLACE(REPLACE(namefirst, 'B', ''), 'b', '') AS no_b_first,
       REPLACE(REPLACE(namelast, 'B', ''), 'b', '') AS no_b_last
FROM people
-- '%b%' find everything with a 'b' in it
WHERE namefirst ILIKE '%b%' OR namelast ILIKE '%b%';

-- Will work on p much any flavor
SELECT namefirst, namelast
FROM people
WHERE LOWER(namefirst) LIKE '%b%';


-- Find where b is the 3rd character
SELECT namefirst, namelast
FROM people
WHERE namefirst LIKE '__b%';

-- ok... no more made up context to give. so this ones real.
-- i think right handed people are better;
-- to reflect this, put the first/last names of players
-- who bat and throw right handed in all caps. anyone who uses
-- their left hand for anything should have their names written in all lower case.
-- please provide a query to assert right hand dominance
-- (return the bats & throws so i can double check the work)
-- for an extra challenge, right this query with only your right hand
SELECT bats, 
       throws,
	   CASE
		  WHEN bats = 'R' AND throws = 'R' THEN UPPER(CONCAT(namefirst, ' ', namelast))
		  ELSE LOWER(CONCAT(namefirst, ' ',namelast))
	   END AS disp
FROM people;

                               class_notebooks/week2/subquery_cte_blank.sql

-- Using the fueleconomy database

-- Subqueries!!
-- Find the average highway mileage for all records of 
-- whatever make produces the model 'A4'.

-- Part 1 of answering this question: 
-- Who makes 'A4'?


-- Part 2: filter


-- A subquery can allow us to do both of this parts
-- at once.



-- Subqueries are not limited to the WHERE clause
-- Say we want to compare each car to the average 
-- hwy mpg. Write a query to grab the model, hwy, 
-- and a column showing how far above/below the car's
-- hwy is from average.



-- Perform the same task as above, but instead
-- of comparing to the overall average hwy, compare
-- to the average for the current records make.
-- (i.e. a bmw row in the output should be compared to
-- to the average bmw hwy mpg)



-- Write a query to only select records with 
-- above average hwy.


			 
-- Let's switch focus to makes.  Show the average
-- hwy mpg by make, but only show makes who have
-- average hwy mpg greater than the average hwy
-- mpg in the vehicles table.



-- Using SQL and the vehicles table from the fueleconomy database, do the following:
-- Find the average of minimum highway mileages for records when grouped by make.
-- what... lets unpack it
-- Find the min hwy mileage per make and then take the average of it

-- Let's use a CTE for this

                                       class_notebooks/week3/ab_testing.ipynb

%reload_ext nb_black

import numpy as np
import pandas as pd
from scipy import stats
import statsmodels.stats.proportion as proportion
import seaborn as sns
import matplotlib.pyplot as plt


def get_95_ci(x1, x2):
    """Calculate a 95% CI for 2 1d numpy arrays"""
    signal = x1.mean() - x2.mean()
    noise = np.sqrt(x1.var() / x1.size + x2.var() / x2.size)

    ci_lo = signal - 1.96 * noise
    ci_hi = signal + 1.96 * noise

    return ci_lo, ci_hi


%matplotlib inline

    # Below package is needed for pandas to read xl files
    # !pip install xlrd
data_url = "https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/a-b-testing-drill-start-06-14-19.xlsx"

df = pd.read_excel(data_url)
df.head()

df.shape
df.dtypes
df.isna().sum()

df["group"].value_counts()

df.groupby("group").count()

df["cart_amount"].describe()


    # Overall conversion rate (see below for by group)
df["convert"].mean()

df.head(4)

treatment = df[df["group"] == "treatment"]
control = df[df["group"] == "control"]


    # Assumptions
    # -------------
    # Continuous?      yep
    # Independent?     think so   
    # Random sample?   think so
    # Normal?          yep


treatment["cart_amount"].hist()
plt.show()

stats.describe(treatment["cart_amount"])

t, p = stats.ttest_ind(treatment["cart_amount"], control["cart_amount"])

if p < 0.05:
    print("sig diff; reject null")
else:
    print("no sig diff; fail to reject null")

    # x1 - x2
get_95_ci(treatment["cart_amount"], control["cart_amount"])

df.groupby("group").mean()


sns.boxplot("group", "cart_amount", data=df)
plt.show()

    # Assumptions
    # -------------
    # Continuous?      nope, binary
    # Independent?     yep, think so
    # Random sample?   yep, think so
    # Normal?          nope, binary

treatment["convert"].hist()
plt.show()

stats.describe(treatment["convert"])

pd.crosstab(df["group"], df["convert"], margins=True)

agg_df = df.groupby("group").agg({"convert": ["size", "sum"]})
agg_df


count = agg_df.iloc[:, 1]
nobs = agg_df.iloc[:, 0]

count

nobs

z, p_value = proportion.proportions_ztest(count, nobs)
p_value


if p_value < 0.05:
    print("sig; reject null")
else:
    print("no sig; fail to reject null")
    
    # Having a testimonial does not appear to have an effect
    # on conversion rate.


chi2, p_value, expected = proportion.proportions_chisquare(count, nobs)
p_value


    # count of people, count of converts, conversion rate
df.groupby("group").agg({"convert": ["size", "sum", "mean"]})


control_converts = control["convert"].sum()
control_n = control["convert"].size
control_rate = control["convert"].mean()

treatment_converts = treatment["convert"].sum()
treatment_n = treatment["convert"].size
treatment_rate = treatment["convert"].mean()

    # Calculate coordinates to plot the corresponding binomial dist

    # Create a range of potential number of conversions
    # Observed number plus/minus a buffer
x = range(control_converts - 50, control_converts + 50)

    # This needs as arguments:
    #    * nobs for control
    #    * conversion rate for control
y = stats.binom(control_n, control_rate).pmf(x)

    # If the treatment had the same number of people.
    # Calculate what the number of conversions would be
    # with the treatment's conversion rate.
treatment_converts = control_n * treatment_rate

    # Plot x by y and give this a label of 'Control'
plt.plot(x, y, label="Control")

    # Add a vertical line where where the number
    # of conversions would be if we had the treatment
    # conversion rate. Label as treatment
plt.axvline(treatment_converts, label="Treatment", c="orange")

plt.xlabel("N Converted")
plt.ylabel("Probability")
plt.legend()
plt.show()


    # pmf is probability mass function
    # Answers question: whats the probability of obtaining a value at this given point?

    # This is a point estimate of the probability of seeing the
    # treatment number of conversions, assuming the rates are the 
    # same between treatment and control.

    # According to this, there is over a 5% chance of seeing the treatment
    # conversion rate (assuming the rate is equal to the control.)
stats.binom(control_n, control_rate).pmf(int(treatment_converts))


    # cdf is cumalitve density function
    # Answers question: whats the probability of obtaining a value at this given point or smaller?

    # It differs from pmf, in that it sums up all the area under the distribution's
    # curve.

    # In our exercise we might use 1 - cdf to indicate, what the probability of 
    # obtaining a value at this point or greater.

    # In context, assuming the rates of control and treatment are equal, then we would
    # see the number of treatment conversions (or greater) 28% of the time.  In other
    # words this isn't that interesting of a result.  It is not significantly different.
1 - stats.binom(control_n, control_rate).cdf(int(treatment_converts))

                           class_notebooks/week3/anova_and_paired_t.ipynb

%reload_ext nb_black

import pandas as pd
import numpy as np

from scipy import stats
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.anova import AnovaRM
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.graphics.gofplots import qqplot

import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

    # fmt: off
audio_book = np.array([7.5, 4. , 4. , 3. , 6.5, 1. , 8. , 4. , 5.5, 4.5, 7.5, 1.5, 4.5,
                       4.5, 7. , 3. , 4.5, 3.5, 5. , 6. , 3. , 7. , 6.5, 6. , 6.5, 4. ,
                       5. , 3.5, 4.5, 6. , 4. , 4.5, 4. , 3.5, 4. , 5. , 3. , 5.5, 8. ,
                       6.5, 4.5, 3.5, 4. , 8. , 5. , 4. , 5.5, 8.5, 5. , 6. , 5.5, 4.5,
                       3. , 4.5, 4.5, 6. , 6.5, 6.5, 5.5, 6.5, 4. , 7. , 6. , 4.5, 6. ,
                       5. , 7. , 7.5, 8.5, 2.5, 2.5, 4. , 5.5, 6.5, 5.5, 1.5, 4.5, 6.5,
                       5.5, 6.5, 4.5, 4.5, 5.5, 5.5, 5.5, 5. , 4. , 5.5, 5. , 7. , 7. ,
                       5.5, 4.5, 4. , 5.5, 5. , 4.5, 5. , 4. , 6. ])


control = np.array([ 6. ,  8.5,  7.5,  7.5,  5. ,  7. ,  8. ,  5. ,  6. ,  6.5,  4.5,
                    7. ,  8. ,  5.5,  7.5,  4.5,  6.5,  4. ,  8.5,  7.5,  6.5,  5.5,
                    9. , 10. ,  3.5,  9. ,  9.5,  7.5,  4.5,  8. ,  6.5,  5.5,  4.5,
                    7.5,  8. ,  5.5,  7.5,  5. ,  8. ,  7. ,  6.5,  6.5,  8. ,  8. ,
                    7.5,  7. ,  7. ,  7.5,  7. ,  8. ,  6. ,  2.5,  8.5, 10. ,  7.5,
                    6.5,  6.5,  6.5,  6.5,  5. ,  6. ,  5. ,  7. ,  6. ,  7.5,  6.5,
                    8.5,  7. , 10. ,  3.5,  5.5,  8. , 10. ,  6.5,  7. ,  6.5,  9. ,
                    6. ,  8. ,  6. ,  4.5,  7. ,  7.5,  9. ,  6.5,  5.5,  7.5,  7. ,
                    7. ,  6.5,  8.5,  7.5, 10. ,  8.5,  8. ,  4. ,  7.5,  7.5,  8. ,
                    8.5])


music = np.array([4. , 6. , 3.5, 8. , 2.5, 1.5, 2. , 3. , 3. , 8. , 4. , 2.5, 6.5,
                  3.5, 2.5, 6. , 5.5, 4. , 7. , 5. , 7.5, 5.5, 7. , 5. , 2.5, 8.5,
                  3.5, 4.5, 3.5, 4.5, 5. , 5. , 5.5, 7.5, 4.5, 2.5, 2.5, 3.5, 2. ,
                  6. , 4. , 4. , 4.5, 2.5, 3. , 5.5, 5.5, 4. , 7.5, 2.5, 4. , 4. ,
                  0. , 8. , 5. , 3. , 8. , 5.5, 5.5, 3.5, 5. , 2. , 6. , 4. , 5. ,
                  6.5, 5. , 5. , 5. , 3.5, 6. , 7. , 6. , 6. , 3. , 3. , 2. , 6.5,
                  4. , 7. , 3.5, 4. , 5. , 6. , 4.5, 5. , 4.5, 5. , 3. , 5. , 4.5,
                  4.5, 5.5, 3.5, 4.5, 4. , 5.5, 6. , 3. , 5.5])
    # fmt: on

pain = pd.DataFrame({"audio_book": audio_book, "music": music, "control": control,})

pain.shape

pain.isna().sum()

pain.head(4)

pain.dtypes

    # Google: "pandas convert data from wide to tall"

tall_pain = pd.melt(pain, var_name="treatment", value_name="pain")
tall_pain.head(3)

    # potential plot types
    #    * [x] boxplot
    #    * [ ] violinplot
    #    * [x] histograms
    #    * [x] swarmplot

tall_pain.boxplot("pain", by="treatment")
plt.tight_layout()
plt.show()

tall_pain["pain"].hist(by=tall_pain["treatment"])
plt.show()

sns.swarmplot("treatment", "pain", data=tall_pain)
plt.show()

stats.shapiro(music)

stats.shapiro(audio_book)

stats.shapiro(control)

qqplot(audio_book, line="s")
plt.show()

qqplot(music, line="s")
plt.show()

qqplot(control, line="s")
plt.show()

tall_pain.groupby("treatment").std()


    # Check the docs:
    # stats.bartlett?

stats.bartlett(audio_book, music, control)

sns.distplot(audio_book)
plt.show()

sns.distplot(music)
plt.show()

f, p = stats.f_oneway(music, audio_book, control)
f  # this is ratio of - between_variance / within_variance

p

lm = ols("pain ~ C(treatment)", data=tall_pain).fit()
anova_table = sm.stats.anova_lm(lm, typ=2)
anova_table

qqplot(lm.resid, line="s")
plt.show()

stats.shapiro(lm.resid)

tukey_results = pairwise_tukeyhsd(tall_pain["pain"], tall_pain["treatment"])

    # Plot results
tukey_results.plot_simultaneous()
plt.axvline(4.859)
plt.show()

    # Show summary table of results
tukey_results.summary()

paired_pain = pain[["audio_book", "control"]]
paired_pain["diff"] = pain["audio_book"] - pain["control"]

paired_pain["diff"].hist()
plt.show()

qqplot(paired_pain["diff"], line="s")
plt.show()


d = paired_pain["diff"]

signal = d.mean()
noise = d.std() / np.sqrt(d.size)

t = signal / noise
t

t, p = stats.ttest_rel(paired_pain["audio_book"], paired_pain["control"])
p

t

ci_lo = signal - 1.96 * noise
ci_hi = signal + 1.96 * noise

ci_lo, ci_hi

pain["patient_id"] = pain.index
pain.head(3)


tall_pain = pd.melt(pain, id_vars="patient_id", var_name="treatment", value_name="pain")
tall_pain.head(3)


anova = AnovaRM(
    tall_pain, depvar="pain", subject="patient_id", within=["treatment"]
).fit()

anova.summary()

                            class_notebooks/week3/anscombe.ipynb

%reload_ext nb_black

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly_express as px

%matplotlib inline

data_url = "https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/anscombe.csv"
abscombe = pd.read_csv(data_url)
abscombe.head()

abscombe.groupby("category").describe().round(2)

abscombe.plot(x="x", y="y", kind="scatter")
plt.show()

sns.scatterplot(x="x", y="y", data=abscombe)
plt.show()

px.scatter(abscombe, x="x", y="y")

color_map = {"a": "blue", "b": "orange", "c": "green", "d": "red"}
colors = abscombe["category"].replace(color_map)

abscombe.plot(x="x", y="y", color=colors, kind="scatter")
plt.show()

sns.scatterplot(x="x", y="y", hue="category", data=abscombe)
plt.show()

px.scatter(abscombe, x="x", y="y", color="category")

abscombe.groupby("category").plot(x="x", y="y", kind="scatter")
plt.show()

    # Throwing in color too cause why not
fg = sns.FacetGrid(data=abscombe, col="category", hue="category")
fg.map(plt.scatter, "x", "y")
plt.show()


    # Throwing in color too cause why not
px.scatter(abscombe, x='x', y='y', facet_col='category', color='category')

pd.plotting.scatter_matrix(abscombe)
plt.show()

sns.pairplot(abscombe)
plt.show()

sns.pairplot(abscombe, hue='category')
plt.show()

fig = px.scatter_matrix(abscombe)
fig.show()

fig = px.scatter_matrix(abscombe, color='category')
fig.show()

iris = sns.load_dataset("iris")
iris = iris[["sepal_length", "petal_length"]]
iris.head()

iris["large_sepal"] = iris["sepal_length"] > iris["sepal_length"].median()
iris.head()

f'a large sepal was defined as being greater than {iris["sepal_length"].median()}'

                                class_notebooks/week3/marble_race.ipynb


import pandas as pd
import numpy as np
import plotly.graph_objects as go
import plotly.express as px

def _gen_player_data(color, name="", y=0, n_steps=20):
    """Generate a random race time and split it out over time steps for plotting"""
    # Generate random race times
    finish_time = np.random.normal(n_steps * 0.8, 0.3)

    # Find x position for each frame of race
    rate = 1 / finish_time
    step = finish_time / n_steps
    time_steps = np.arange(n_steps + 1)
    x_pos = time_steps * rate

    # Store all plotting info for plotly
    race_df = pd.DataFrame(
        {
            "time": time_steps,
            "x": x_pos,
            "y": y,
            "color": color,
            "name": name,
            "finish_time": finish_time,
        }
    )

    # Add a little jitter to be less boring
    excitement = np.ones_like(x_pos) * 0.01
    excitement[: len(excitement) // 2] *= -1
    np.random.shuffle(excitement)
    race_df["x"] += excitement
    race_df.loc[0, "x"] = 0

    return race_df


def _gen_race_data(players, colors=px.colors.qualitative.T10):
    """'Simulate' a marble race between players"""
    race_dfs = []
    name_colors = zip(players, colors)
    for i, (name, color) in enumerate(name_colors):
        race_df = _gen_player_data(color, name, i * 0.1)
        race_dfs.append(race_df)

    return pd.concat(race_dfs).reset_index(drop=True)


def marble_race(players, seed=None):
    """'Simulate' a marble race"""
    if isinstance(seed, int):
        np.random.seed(seed)
    race_df = _gen_race_data(players)

    return (
        race_df[["color", "name", "finish_time"]]
        .drop_duplicates()
        .reset_index(drop=True)
    )


def plot_marble_race(players, seed=None):
    """'Simulate' and plot a marble race"""
    if isinstance(seed, int):
        np.random.seed(seed)
    race_df = _gen_race_data(players)

    color_df = race_df[["color", "name"]].drop_duplicates()
    color_discrete_map = {}
    for _, row in color_df.iterrows():
        color_discrete_map[row["name"]] = row["color"]

    fig = px.scatter(
        data_frame=race_df,
        x="x",
        y="y",
        color="name",
        text="name",
        animation_frame="time",
        title="Thinkful Marble Racing Series",
        color_discrete_map=color_discrete_map,
    )

    fig.update_traces(marker={"size": 20})
    fig.update_layout(showlegend=False)

    fig.add_trace(
        go.Scatter(x=[1, 1], y=[-300, 300], mode="lines", line={"color": "black"},)
    )

    fig.update_xaxes(
        {"range": [-0.1, 1.1], "showgrid": False, "zeroline": False, "visible": False,}
    )
    fig.update_yaxes(
        {"range": [-0.1, 1.1], "showgrid": False, "zeroline": False, "visible": False,}
    )

    return fig

    # To get consistent results between
    # animation and score board.
    # No editing needed.
seed = np.random.randint(0, 1000)

    # Edit this to have the names of who/what is racing.
racers = ["A", "B", "C"]


    # Play out race visually.
plot_marble_race(racers, seed)


    # Show race results.
    # Spoiler alert if this cell is run before plot_marble_race().
marble_race(racers, seed).sort_values("finish_time")

                              class_notebooks/week3/confidence_intervals.ipynb

%reload_ext nb_black

import pandas as pd
import numpy as np

from scipy import stats
import statsmodels.api as sm

import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline


    # Sorry for breaking the immersion in the story line
    # Just making up data.... next cell to attain statistics glory
np.random.seed(42)

og = pd.DataFrame({"sales": np.random.normal(200.0, 3, 1000), "group": "old"})
new = pd.DataFrame({"sales": np.random.normal(200.5, 3, 1000), "group": "new"})

sales = pd.concat((og, new))

sales.shape
sales.head(2)

sns.violinplot(x="group", y="sales", data=sales)
plt.show()


sns.boxplot(x="group", y="sales", data=sales)
plt.show()


new = sales[sales["group"] == "new"]
old = sales[sales["group"] == "old"]


plt.hist(old["sales"], alpha=0.5, label="old")
plt.hist(new["sales"], alpha=0.5, label="new")
plt.legend()
plt.show()

sns.distplot(old["sales"])
plt.title("old")
plt.show()

sns.distplot(new["sales"])
plt.title("new")
plt.show()


new = sales[sales["group"] == "new"]
old = sales[sales["group"] == "old"]

stats.describe(new["sales"])

stats.describe(old["sales"])

t, p = stats.ttest_ind(new["sales"], old["sales"])
p < 0.05
    # Reject the null hypothesis.
    # We see evidence that the new website will increase sales.

x1 = new["sales"]
x2 = old["sales"]

signal = x1.mean() - x2.mean()
noise = np.sqrt(x1.var() / x1.size + x2.var() / x2.size)

ci_lo = signal - 1.96 * noise
ci_hi = signal + 1.96 * noise

(ci_lo, ci_hi)

    # It depends.  Is an extra $0.40 - $0.90 per sale a big difference in
    # context? If yes, lets pull the trigger on the new site.

iris = sns.load_dataset("iris")
iris.head(2)


    # we only care about 2 species according to the prompt
iris = iris[iris["species"].isin(["setosa", "versicolor"])]

    # This plot is looking like theres a difference
sns.swarmplot("species", "sepal_length", data=iris)
plt.show()


setosa = iris[iris["species"] == "setosa"]
versicolor = iris[iris["species"] == "versicolor"]

stats.describe(setosa["sepal_length"])

stats.describe(versicolor["sepal_length"])


    # For a qqplot, if the data is falling on the line, we're normal
sm.qqplot(setosa["sepal_length"], line="s")
plt.show()

sm.qqplot(versicolor["sepal_length"], line="s")
plt.show()


t, p = stats.ttest_ind(setosa["sepal_length"], versicolor["sepal_length"])

if p < 0.05:
    print("significant difference; reject null")
else:
    print("insignificant difference; fail to reject null")

def calc_95_ci(x1, x2):
    signal = x1.mean() - x2.mean()
    noise = np.sqrt(x1.var() / len(x1) + x2.var() / len(x2))

    ci_lo = signal - 1.96 * noise
    ci_hi = signal + 1.96 * noise

    return (ci_lo, ci_hi)

calc_95_ci(setosa["sepal_length"], versicolor["sepal_length"])

    # According to a 95% confidence interval, the versicolor sepal length
    # is anywhere from 0.76 to 1.1 units greater than setosa sepal length.

    # ^not perfect stats language but gets the job done.  For perfectly
    # sound stats language you might report this analysis as below.  Choose
    # your language based on your audience.

    # A t-test was performed to compare the mean sepal length between
    # the versicolor and setosa species of iris; the t-test showed
    # a significant difference (p < 0.05). A 95% confidence interval
    # for the difference between these means is [0.757, 1.103].

                             class_notebooks/week3/marble_race.ipynb

%reload_ext nb_black


import pandas as pd
import numpy as np
import plotly.graph_objects as go
import plotly.express as px

def _gen_player_data(color, name="", y=0, n_steps=20):
    """Generate a random race time and split it out over time steps for plotting"""
    # Generate random race times
    finish_time = np.random.normal(n_steps * 0.8, 0.3)

    # Find x position for each frame of race
    rate = 1 / finish_time
    step = finish_time / n_steps
    time_steps = np.arange(n_steps + 1)
    x_pos = time_steps * rate

    # Store all plotting info for plotly
    race_df = pd.DataFrame(
        {
            "time": time_steps,
            "x": x_pos,
            "y": y,
            "color": color,
            "name": name,
            "finish_time": finish_time,
        }
    )

    # Add a little jitter to be less boring
    excitement = np.ones_like(x_pos) * 0.01
    excitement[: len(excitement) // 2] *= -1
    np.random.shuffle(excitement)
    race_df["x"] += excitement
    race_df.loc[0, "x"] = 0

    return race_df


def _gen_race_data(players, colors=px.colors.qualitative.T10):
    """'Simulate' a marble race between players"""
    race_dfs = []
    name_colors = zip(players, colors)
    for i, (name, color) in enumerate(name_colors):
        race_df = _gen_player_data(color, name, i * 0.1)
        race_dfs.append(race_df)

    return pd.concat(race_dfs).reset_index(drop=True)


def marble_race(players, seed=None):
    """'Simulate' a marble race"""
    if isinstance(seed, int):
        np.random.seed(seed)
    race_df = _gen_race_data(players)

    return (
        race_df[["color", "name", "finish_time"]]
        .drop_duplicates()
        .reset_index(drop=True)
    )

def plot_marble_race(players, seed=None):
    """'Simulate' and plot a marble race"""
    if isinstance(seed, int):
        np.random.seed(seed)
    race_df = _gen_race_data(players)

    color_df = race_df[["color", "name"]].drop_duplicates()
    color_discrete_map = {}
    for _, row in color_df.iterrows():
        color_discrete_map[row["name"]] = row["color"]

    fig = px.scatter(
        data_frame=race_df,
        x="x",
        y="y",
        color="name",
        text="name",
        animation_frame="time",
        title="Thinkful Marble Racing Series",
        color_discrete_map=color_discrete_map,
    )

    fig.update_traces(marker={"size": 20})
    fig.update_layout(showlegend=False)

    fig.add_trace(
        go.Scatter(x=[1, 1], y=[-300, 300], mode="lines", line={"color": "black"},)
    )

    fig.update_xaxes(
        {"range": [-0.1, 1.1], "showgrid": False, "zeroline": False, "visible": False,}
    )
    fig.update_yaxes(
        {"range": [-0.1, 1.1], "showgrid": False, "zeroline": False, "visible": False,}
    )

    return fig

    # To get consistent results between
    # animation and score board.
    # No editing needed.
seed = np.random.randint(0, 1000)


    # Edit this to have the names of who/what is racing.
racers = ["A", "B", "C"]


    # Play out race visually.
plot_marble_race(racers, seed)

    # Show race results.
    # Spoiler alert if this cell is run before plot_marble_race().
marble_race(racers, seed).sort_values("finish_time")

                               class_notebooks/week3/non_param_effect_size.py

import numpy as np
from scipy import stats


# ---------------------------
# Independent samples -------
# ---------------------------
def cles_ind(x1, x2):
    """Calc common language effect size
    Interpret as the probability that a score sampled
    at random from one distribution will be greater than
    a score sampled from some other distribution.
    Based on: http://psycnet.apa.org/doi/10.1037/0033-2909.111.2.361
    :param x1: sample 1
    :param x2: sample 2
    :return: (float) common language effect size
    """
    x1 = np.array(x1)
    x2 = np.array(x2)

    diff = x1[:, None] - x2
    cles = max((diff < 0).sum(), (diff > 0).sum()) / diff.size

    return cles


def rbc_ind(x1, x2):
    """Calculate rank-biserial correlation coefficient
    Output values range from [0, 1]; interpret as:
      * Values closer to 0 are a weaker effect
      * Values closer to 1 are a stronger effect
    :param x1: sample 1
    :param x2: sample 2
    :return: (float) rank-biserial correlation coefficient
    """
    n1 = x1.size
    n2 = x2.size

    u, _ = stats.mannwhitneyu(x1, x2)
    rbc = 1 - (2 * u) / (n1 * n2)

    return rbc


def calc_non_param_ci(x1, x2, alpha=0.05):
    """Calc confidence interval for 2 group median test
    Process:
      * Find all pairwise diffs
      * Sort diffs
      * Find appropriate value of k
      * Choose lower bound from diffs as: diffs[k]
      * Choose upper bound from diffs as: diffs[-k]
    Based on: https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2545906/
    :param x1: sample 1
    :param x2: sample 2
    :param alpha: significance level
    :return: (tuple) confidence interval bounds
    """
    x1 = np.array(x1)
    x2 = np.array(x2)

    n1 = x1.size
    n2 = x2.size
    cv = stats.norm.ppf(1 - alpha / 2)

    # Find pairwise differences for every datapoint in each group
    diffs = (x1[:, None] - x2).flatten()
    diffs.sort()

    # For an approximate (1-a)% confidence interval first calculate K:
    k = int(round(n1 * n2 / 2 - (cv * (n1 * n2 * (n1 + n2 + 1) / 12) ** 0.5)))

    # The Kth smallest to the Kth largest of the n x m differences
    # n1 and n2 should be > ~20
    ci_lo = diffs[k]
    ci_hi = diffs[-k]

    return ci_lo, ci_hi


# ---------------------------
# Paired samples ------------
# ---------------------------
def cles_rel(x1, x2):
    """Calc common language effect size for paired samples
    Interpret as the probability that a pair's difference (x1 - x2)
    sampled at random will be greater than 0.
    :param x1: sample 1
    :param x2: sample 2
    :return: (float) common language effect size
    """
    x1 = np.array(x1)
    x2 = np.array(x2)

    diffs = x1 - x2
    # Convert differences to 0.0, 0.5, or 1.0:
    #   * 0.0 if x1 < x2
    #   * 0.5 if x1 == x2
    #   * 1.0 if x1 > x2
    diffs = np.where(diffs == 0.0, 0.5, diffs > 0)

    # Take average of array with [0s, 0.5s, 1s]
    # This indicates prob of pulling a random
    # diff and it being greater than 0
    return diffs.mean()


def rbc_rel(x1, x2):
    """Calculate rank-biserial correlation coefficient for paired samples
    Output values range from [-1, 1]; interpret as:
      * Values closer to 1 indicate that x1 is larger
      * Values closer to -1 indicate that x2 is larger
    :param x1: sample 1
    :param x2: sample 2
    :return: (float) rank-biserial correlation coefficient
    """
    x1 = np.array(x1)
    x2 = np.array(x2)

    diffs = x1 - x2
    diffs = diffs[diffs != 0]
    diff_ranks = stats.rankdata(abs(diffs))

    rank_sum = diff_ranks.sum()
    pos_rank_sum = np.sum((diffs > 0) * diff_ranks)
    neg_rank_sum = np.sum((diffs < 0) * diff_ranks)
    rbc = pos_rank_sum / rank_sum - neg_rank_sum / rank_sum

    return rbc

                       class_notebooks/week3/non_parametric.ipynb

import pandas as pd
import numpy as np
from scipy import stats
from statsmodels.graphics.gofplots import qqplot
from statsmodels.stats.multitest import multipletests
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline


    # Read kickstarter data
postgres_user = "dsbc_student"
postgres_pw = "7*.8G9QH21"
postgres_host = "142.93.121.174"
postgres_port = "5432"
postgres_db = "kickstarterprojects"

conn_str = f"postgresql://{postgres_user}:{postgres_pw}@{postgres_host}:{postgres_port}/{postgres_db}"

query = """
    SELECT 
        category,
        pledged
    FROM 
        ksprojects
    WHERE category IN ('Performances', 'Theater', 'Music')
"""


ks = pd.read_sql_query(query, conn_str)
ks.head(3)

ks["category"].value_counts()

ks.isna().sum()

sns.violinplot("category", "pledged", data=ks)
plt.show()


    # SELECT *
    # FROM ks
    # WHERE category = 'Music'
music = ks[ks["category"] == "Music"]
thtr = ks[ks["category"] == "Theater"]
perf = ks[ks["category"] == "Performances"]

qqplot(music["pledged"], line="s")
plt.show()

qqplot(thtr["pledged"], line="s")
plt.show()

qqplot(perf["pledged"], line="s")
plt.show()


    # in general, to make it bigger use figure
    # plt.figure(figsize=(10, 5))

ks.hist(by="category", figsize=(10, 5))
plt.tight_layout()
plt.show()


_, p = stats.kruskal(thtr["pledged"], music["pledged"], perf["pledged"])
p < 0.05

_, p1 = stats.mannwhitneyu(thtr["pledged"], music["pledged"])
_, p2 = stats.mannwhitneyu(thtr["pledged"], perf["pledged"])
_, p3 = stats.mannwhitneyu(music["pledged"], perf["pledged"])

p_values = [p1, p2, p3]

p_values

reject, corr_p, sidak, bonf = multipletests(p_values, alpha=0.05)

reject

corr_p

sidak

bonf

def calc_non_param_ci(x1, x2, alpha=0.05):
    """Calc confidence interval for 2 group median test

    Process:
      * Find all pairwise diffs
      * Sort diffs
      * Find appropriate value of k
      * Choose lower bound from diffs as: diffs[k]
      * Choose upper bound from diffs as: diffs[-k]

    Based on: https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2545906/

    :param x1: sample 1
    :param x2: sample 2
    :param alpha: significance level
    :return: (tuple) confidence interval bounds
    """
    x1 = np.array(x1)
    x2 = np.array(x2)

    n1 = x1.size
    n2 = x2.size
    cv = stats.norm.ppf(1 - alpha / 2)

    # Find pairwise differences for every datapoint in each group
    diffs = (x1[:, None] - x2).flatten()
    diffs.sort()

    # For an approximate (1-a)% confidence interval first calculate K:
    k = int(round(n1 * n2 / 2 - (cv * (n1 * n2 * (n1 + n2 + 1) / 12) ** 0.5)))

    # The Kth smallest to the Kth largest of the n x m differences
    # n1 and n2 should be > ~20
    ci_lo = diffs[k]
    ci_hi = diffs[-k]

    return ci_lo, ci_hi

print(thtr["pledged"].median())
print(music["pledged"].median())

calc_non_param_ci(thtr["pledged"], music["pledged"])

def cles_ind(x1, x2):
    """Calc common language effect size

    Interpret as the probability that a score sampled
    at random from one distribution will be greater than
    a score sampled from some other distribution.

    Based on: http://psycnet.apa.org/doi/10.1037/0033-2909.111.2.361

    :param x1: sample 1
    :param x2: sample 2
    :return: (float) common language effect size
    """
    x1 = np.array(x1)
    x2 = np.array(x2)

    diff = x1[:, None] - x2
    cles = max((diff < 0).sum(), (diff > 0).sum()) / diff.size

    return cles

cles_ind(thtr["pledged"], music["pledged"])


def rbc_ind(x1, x2):
    """Calculate rank-biserial correlation coefficient

    Output values range from [0, 1]; interpret as:
      * Values closer to 0 are a weaker effect
      * Values closer to 1 are a stronger effect

    :param x1: sample 1
    :param x2: sample 2
    :return: (float) rank-biserial correlation coefficient
    """
    n1 = x1.size
    n2 = x2.size

    u, _ = stats.mannwhitneyu(x1, x2)
    rbc = 1 - (2 * u) / (n1 * n2)

    return rbc

rbc_ind(thtr["pledged"], music["pledged"])

    # reformatting data for new setup
n = min(thtr["pledged"].size, music["pledged"].size)

t1 = thtr["pledged"].values[:n]
t1.sort()

t2 = music["pledged"].values[:n]
t2.sort()

df = pd.DataFrame({"theater": t1, "music": t2})

df["diff"] = df["theater"] - df["music"]

plt.hist(df["diff"])
plt.show()

qqplot(df["diff"], line="s")
plt.show()

stats.wilcoxon(df["theater"], df["music"])

def cles_rel(x1, x2):
    """Calc common language effect size for paired samples

    Interpret as the probability that a pair's difference (x1 - x2)
    sampled at random will be greater than 0.

    :param x1: sample 1
    :param x2: sample 2
    :return: (float) common language effect size
    """
    x1 = np.array(x1)
    x2 = np.array(x2)

    diffs = x1 - x2
    # Convert differences to 0.0, 0.5, or 1.0:
    #   * 0.0 if x1 < x2
    #   * 0.5 if x1 == x2
    #   * 1.0 if x1 > x2
    diffs = np.where(diffs == 0.0, 0.5, diffs > 0)

    # Take average of array with [0s, 0.5s, 1s]
    # This indicates prob of pulling a random
    # diff and it being greater than 0
    return diffs.mean()

cles_rel(df["theater"], df["music"])


def rbc_rel(x1, x2):
    """Calculate rank-biserial correlation coefficient for paired samples

    Output values range from [-1, 1]; interpret as:
      * Values closer to 1 indicate that x1 is larger
      * Values closer to -1 indicate that x2 is larger

    :param x1: sample 1
    :param x2: sample 2
    :return: (float) rank-biserial correlation coefficient
    """
    x1 = np.array(x1)
    x2 = np.array(x2)

    diffs = x1 - x2
    diffs = diffs[diffs != 0]
    diff_ranks = stats.rankdata(abs(diffs))

    rank_sum = diff_ranks.sum()
    pos_rank_sum = np.sum((diffs > 0) * diff_ranks)
    neg_rank_sum = np.sum((diffs < 0) * diff_ranks)
    rbc = pos_rank_sum / rank_sum - neg_rank_sum / rank_sum

    return rbc

rbc_rel(df["theater"], df["music"])

                          class_notebooks/week3/simpson_power_phack.ipynb

%reload_ext nb_black

import pandas as pd
import numpy as np
from scipy import stats
from statsmodels.stats.power import TTestIndPower
import matplotlib.pyplot as plt

%matplotlib inline

data_url = "https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/kidney_stone_data.csv"


kidney = pd.read_csv(data_url)
kidney.shape

kidney.head(2)

kidney.dtypes

kidney.isna().sum()

kidney["treatment"].value_counts()

kidney["stone_size"].value_counts()

pd.crosstab(kidney["treatment"], kidney["stone_size"])

pd.crosstab(kidney["treatment"], kidney["success"], normalize="index")

    # Input your crosstab here w/o normalizing or row/col totals
crosstab = pd.crosstab(kidney["treatment"], kidney["success"])
chi2, p, df, expected = stats.chi2_contingency(crosstab)
p

pd.crosstab(
    [kidney["treatment"], kidney["stone_size"]], kidney["success"], normalize="index"
)

    # Input your crosstab here w/o normalizing or row/col totals
crosstab = pd.crosstab([kidney["treatment"], kidney["stone_size"]], kidney["success"])
chi2, p, df, expected = stats.chi2_contingency(crosstab)
p

def get_95_ci(x1, x2):
    """Calculate a 95% CI for 2 1d numpy arrays"""
    signal = x1.mean() - x2.mean()
    noise = np.sqrt(x1.var() / x1.size + x2.var() / x2.size)

    ci_lo = signal - 1.96 * noise
    ci_hi = signal + 1.96 * noise

    return ci_lo, ci_hi


    # Below package is needed for pandas to read xl files
    # !pip install xlrd
data_url = "https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/a-b-testing-drill-start-06-14-19.xlsx"

df = pd.read_excel(data_url)

treatment = df[df["group"] == "treatment"]
control = df[df["group"] == "control"]

    # The tetimon
t, p = stats.ttest_ind(treatment["cart_amount"], control["cart_amount"])
p

get_95_ci(treatment["cart_amount"], control["cart_amount"])

x1 = treatment["cart_amount"]
x2 = control["cart_amount"]

x1.std()

x2.std()

s_pooled_numerator = (x1.size - 1) * x1.var() + (x2.size - 1) * x2.var()
s_pooled_denominator = x1.size + x2.size - 2

s_pooled = np.sqrt(s_pooled_numerator / s_pooled_denominator)
s_pooled

    # 95% CI was: (0.0986, 0.5416)
effect_size = (x1.mean() - x2.mean()) / s_pooled
effect_size


    # If asked about 
    # "how much more money will we make per quarter with this?"
    # Assuming in a quarter we have 10000 customers

    # Using CI
10000 * 0.0986
10000 * 0.5416

    # Using effect size 
10000 * 0.1353

analysis = TTestIndPower()

    # Type 1 Error - False positive (reject null when no effect)
    # Type 2 Error - False negative (fail to reject null when there is an effect)

analysis.solve_power(
    effect_size=effect_size, nobs1=x1.size, alpha=0.05, ratio=x1.size / x2.size
)

    # 15% chance of type 2


    # Renaming just to reuse without a lot of extra typing
n = x1.size
es = effect_size

    # Making up potential sample/effect sizes that relate to what we observe
sample_sizes = np.array([n * 0.1, n * 0.5, n, n * 2, n * 10])
effect_sizes = np.array([es * 0.1, es * 0.5, es, es * 2])

    # Plot the power if we had these sample/effect sizes
analysis.plot_power(
    dep_var="nobs", nobs=sample_sizes, alpha=0.05, effect_size=effect_sizes
)
plt.show()

mean_x1 = 11
mean_x2 = 10
std_x1 = 2
std_x2 = 2

ns = [10, 50, 100, 500, 1000, 5000]
ps = []
for n in ns:
    signal = mean_x1 - mean_x2
    noise = np.sqrt(std_x1 ** 2 / n + std_x2 ** 2 / n)
    t = signal / noise

    # Look up p value for given value of t and sample size
    p = stats.t.sf(np.abs(t), 2 * n - 2) * 2
    ps.append(p)

ps


ns = [10, 50, 100, 500, 1000, 5000]
cis = []
for i, n in enumerate(ns):
    signal = mean_x1 - mean_x2
    noise = np.sqrt((std_x1 ** 2 / n) + (std_x2 ** 2 / n))

    ci_lo = signal - 1.96 * noise
    ci_hi = signal + 1.96 * noise

    ci = (ci_lo, ci_hi)
    cis.append(ci)

    color = plt.cm.RdYlBu(i * 60)
    plt.hlines(len(ns) - i, ci_lo, ci_hi, colors=[color], label=f"n={n}")

print(cis)

plt.yticks([])
plt.legend(loc="lower right")
plt.show()

                                 class_notebooks/week3/t_test_marbles.ipynb